latex/final_format.aux
latex/final_format.bbl
latex/final_format.blg
latex/final_format.log
latex/final_format.out
latex/supplement.aux
latex/supplement.log
latex/supplement.out
latex/final_format.xwm
latex/supplement.xwm
